body{
    background-color: rgb(172, 217, 235) ;
    color: rgb(5, 5, 182)
}

h1{
    color: rgb(116, 20, 20);
    background-color: rgb(218, 208, 189);
}

h2{
    color: rgb(121, 24, 24);
    background-color: rgb(189, 186, 182);
}

footer{
    background-color: antiquewhite;
}
